<a href="https://colab.research.google.com/github/joaquimrafael/Data_management/blob/main/Pandas_def.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<head>
  <meta name="author" content="Rogério de Oliveira">
  <meta institution="author" content="Universidade Presbiteriana Mackenzie">
</head>

<img src="http://meusite.mackenzie.br/rogerio/mackenzie_logo/UPM.2_horizontal_vermelho.jpg" width=300, align="right">
<!-- <h1 align=left><font size = 6, style="color:rgb(200,0,0)"> optional title </font></h1> -->

# Lab Avaliativo

Conceitos verificados neste Lab:

1. `Pandas`, Aquisição e Inspeção de Dados
2. `Pandas`, Seleção de Dados
3. Distribuições e Análise de Dados

**Desenvolva somente as questões do seu questionário no Moodle. Após responder o questionário faça um print do seu Colab em .pdf poste seu .pdf e compartilhe o link do seu Colab para leitura.**

<br>

---

# Basic imports

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns



## **CASE European Energy**

Qual o tipo de Energia mais produzido na Europa? O uso de fontes renováveis já é significativo?

<br>
<br>

<img src="https://camo.githubusercontent.com/a1a0f0c83b5fce8c06f95188889bf5bc4e63939541930179f8c0c5b406fb9ae1/68747470733a2f2f696d616765732e756e73706c6173682e636f6d2f70686f746f2d313533323630313232343437362d3135633739663266376135313f69786c69623d72622d312e322e3126697869643d65794a6863484266615751694f6a45794d446439266175746f3d666f726d6174266669743d63726f7026773d3133353026713d3830" width=300, align="left">

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

[European Energy](https://github.com/rfordatascience/tidytuesday/blob/master/data/2020/2020-08-04/readme.md). Explore aqui como é a produção de Energia na Europa empregando a base de dados [`energy_types`](https://github.com/Rogerio-mack/Analise_de_dados_labs/raw/main/data/energy_types.csv).

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/Rogerio-mack/Analise_de_dados_labs/main/data/energy_types.csv')
df.head

<bound method NDFrame.head of     country country_name                  type    level     2016     2017  \
0        BE      Belgium  Conventional thermal  Level 1  30728.0  31316.0
1        BE      Belgium               Nuclear  Level 1  41430.0  40128.5
2        BE      Belgium                 Hydro  Level 1   1476.0   1360.9
3        BE      Belgium    Pumped hydro power  Level 2   1110.0   1093.2
4        BE      Belgium                  Wind  Level 1   5340.0   6387.9
..      ...          ...                   ...      ...      ...      ...
291      GE      Georgia    Pumped hydro power  Level 2      0.0      0.0
292      GE      Georgia                  Wind  Level 1      9.0     87.7
293      GE      Georgia                 Solar  Level 1      0.0      0.0
294      GE      Georgia            Geothermal  Level 1      0.0      0.0
295      GE      Georgia                 Other  Level 1      0.0      0.0

          2018
0    30092.635
1    26995.628
2     1239.248
3      983.190
4     7177.346
..         ...
291      0.000
292     84.226
293      0.000
294      0.000
295      0.000

[296 rows x 7 columns]>

##### Q1. (European Energy) Qual o número de instâncias da base de dados?

##### Q2. (European Energy) Existem valores ausentes na base? Se houverem, quais e quantos?

In [ ]:
df.isnull().sum()

country         0
country_name    8
type            0
level           0
2016            0
2017            0
2018            0
dtype: int64

##### Q3. (European Energy) A qual país pertencem os dados ausentes?

Dica: para selecionar valores ausentes empregue "`df.coluna.isnull()`" como um predicado de seleção.

##### Q4. (European Energy) Quantos países e tipos de energia diferentes existem na base?

Dica: Não empregue o atributo com valores ausentes, ou tenha cuidado ao empregar. Empregue `type` entre aspas, é uma palavra reservada do `Python`.

##### Q5. (European Energy) Qual o total de energia produzida na Europa no ano de 2018?

##### Q6. (European Energy) Qual percentual de energia nuclear produzida na Europa no ano de 2018?

In [ ]:
total1 = df['2018'].sum()
print(total1)

3787674.63

In [ ]:
nuclear = df[(df['type'] == 'Nuclear')]['2018'].sum()
print(nuclear)

868333.983

In [ ]:
percentual1 = nuclear/total1
print(percentual1*100)

22.92525276913767

##### Q7. (European Energy) Qual o percentual de energia nuclear produzido na França no ano de 2018?

##### Q8. (European Energy) Qual o percentual de energias limpas produzida na Europa no ano de 2018?

*Energias limpas somente Hidroelétrica, Eólica, Solar e Geotérmica.*

In [ ]:
total = df['2018'].sum()
print(total)

3787674.63

In [ ]:
limpa = df[(df['type'] == 'Hydro') | (df['type'] == 'Wind') | (df['type'] == 'Solar') | (df['type'] == 'Geothermal')]['2018'].sum()
print(limpa)

1156738.155

In [ ]:
percentual = limpa/total

print(percentual*100)

30.53953330199326

##### Q9. (European Energy) Houve crescimento da energia Eólica (`Wind`) produzida ao longo dos anos? Qual o valor produzido no último ano?

##### Q10. (European Energy) Qual o percentual de crescimento de energia Eólica(`Wind`) no último ano com relação ao ano anterior?

Dica: Percentual (After - Before) / Before * 100

##### Q11. (European Energy) Qual a média de energia produzida pela Alemanha (`Germany`) no ano de 2018?

In [ ]:
df[(df['country_name'] == 'Germany')]['2018'].mean()

72307.5995

##### Q12. (European Energy) Observando os cinco maiores valores de energia produzidos em 2018, predominam que tipo de produção de energia na Europa?

In [ ]:
df.nlargest(5, '2018')['type']

73                  Nuclear
32     Conventional thermal
264    Conventional thermal
88     Conventional thermal
216    Conventional thermal
Name: type, dtype: object



## **CASE NYC Taxi**

Qual os destinos mais comuns? Qual o custo médio dos translados em NYC?

<br>
<br>

<img src="https://www.nyc.gov/assets/tlc/images/content/pages/about/taxi_zone_map_manhattan.jpg" width=220, align="left">

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

[TLC Trip](https://www.nyc.gov/site/tlc/about/tlc-trip-record-data.page). Explore aqui como é o tráfeco de Taxi na cidade de NYC, aqui os [dados](https://github.com/mwaskom/seaborn-data/raw/master/taxis.csv).

In [ ]:
data = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/taxis.csv')
data.head()

,pickup,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough
0,2019-03-23 20:21:09,2019-03-23 20:27:24,1,1.60,7.0,2.15,0.0,12.95,yellow,credit card,Lenox Hill West,UN/Turtle Bay South,Manhattan,Manhattan
1,2019-03-04 16:11:55,2019-03-04 16:19:00,1,0.79,5.0,0.00,0.0,9.30,yellow,cash,Upper West Side South,Upper West Side South,Manhattan,Manhattan
2,2019-03-27 17:53:01,2019-03-27 18:00:25,1,1.37,7.5,2.36,0.0,14.16,yellow,credit card,Alphabet City,West Village,Manhattan,Manhattan
3,2019-03-10 01:23:59,2019-03-10 01:49:51,1,7.70,27.0,6.15,0.0,36.95,yellow,credit card,Hudson Sq,Yorkville West,Manhattan,Manhattan
4,2019-03-30 13:27:42,2019-03-30 13:37:14,3,2.16,9.0,1.10,0.0,13.40,yellow,credit card,Midtown East,Yorkville West,Manhattan,Manhattan

In [ ]:
data = data.dropna()

In [ ]:
data.head()

,pickup,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough
0,2019-03-23 20:21:09,2019-03-23 20:27:24,1,1.60,7.0,2.15,0.0,12.95,yellow,credit card,Lenox Hill West,UN/Turtle Bay South,Manhattan,Manhattan
1,2019-03-04 16:11:55,2019-03-04 16:19:00,1,0.79,5.0,0.00,0.0,9.30,yellow,cash,Upper West Side South,Upper West Side South,Manhattan,Manhattan
2,2019-03-27 17:53:01,2019-03-27 18:00:25,1,1.37,7.5,2.36,0.0,14.16,yellow,credit card,Alphabet City,West Village,Manhattan,Manhattan
3,2019-03-10 01:23:59,2019-03-10 01:49:51,1,7.70,27.0,6.15,0.0,36.95,yellow,credit card,Hudson Sq,Yorkville West,Manhattan,Manhattan
4,2019-03-30 13:27:42,2019-03-30 13:37:14,3,2.16,9.0,1.10,0.0,13.40,yellow,credit card,Midtown East,Yorkville West,Manhattan,Manhattan

##### Q1. (NYC Taxi) Se existirem, exclua as linhas com valores nulos da base. Quantas linhas há antes e depois da exclusão dos valores nulos?

##### Q2. (NYC Taxi) Quantos casos (instâncias ou linhas) existem das diferentes formas de pagamento?

##### Q3. (NYC Taxi) Qual a quantidade de diferentes zonas de destino (`dropoff_zone`)?

In [ ]:
data.dropoff_zone.value_counts()

Upper East Side North    244
Murray Hill              217
Midtown Center           215
Midtown East             175
Upper East Side South    173
                        ...
Douglaston                 1
Stapleton                  1
Brighton Beach             1
Bensonhurst East           1
Inwood Hill Park           1
Name: dropoff_zone, Length: 203, dtype: int64

In [ ]:
data.dropoff_zone.nunique()

203

##### Q4. (NYC Taxi) Qual a zona de destino (`dropoff_zone`) com mais viagens?

In [ ]:
data.dropoff_zone.value_counts()

Upper East Side North    244
Murray Hill              217
Midtown Center           215
Midtown East             175
Upper East Side South    173
                        ...
Douglaston                 1
Stapleton                  1
Brighton Beach             1
Bensonhurst East           1
Inwood Hill Park           1
Name: dropoff_zone, Length: 203, dtype: int64

##### Q5. (NYC Taxi) Qual a vizinhança de destino (`dropoff_borough`) mais frequente das 5 viagens mais caras (`fare`)?

##### Q6. (NYC Taxi) Qual o preço médio das viagens (`fare`)?

##### Q7. (NYC Taxi) Qual o preço médio das viagens (`fare`) com zona de destino (`dropoff_zone`) o `JFK Airport`?

##### Q8. (NYC Taxi) Qual percentual da quantidade de viagens tem como destino a zona (`dropoff_zone`) do `JFK Airport`?

##### Q9. (NYC Taxi) Qual a vizinhança de destino (`dropoff_borough`) mais frequente das 5 corridas de maior distância?

In [ ]:
data.nlargest(5, 'distance')['dropoff_borough']

5364       Queens
2397    Manhattan
1535       Queens
3875       Queens
4218     Brooklyn
Name: dropoff_borough, dtype: object

##### Q10. (NYC Taxi) Qual a média e máximo número de passageiros nas viagens com destino à zona (`dropoff_zone`) do `JFK Airport`?

In [ ]:
data[(data['dropoff_zone']== 'JFK Airport')].passengers.mean()

1.7777777777777777

In [ ]:
data[(data['dropoff_zone']== 'JFK Airport')].passengers.max()

6

##### Q11. (NYC Taxi) Qual a chance de uma viagem de taxi em NYC percorrer menos de 4 milhas?

##### Q12. (NYC Taxi) Qual a chance de uma viagem de taxi em NYC custar mais que 20 dólares?

In [ ]:
maior = len(data[data['total']>20])

total = len(data)

print(maior)

print(total)

print((maior/total) * 100)

1638
6341
25.83188771487147